* {
    box-sizing: border-box;
    margin: 0%;
}
body {
    /* font-weight: bold; */
    /* background-color: rgba(0,0,0,.5); */
    background: url(/pikachu-test/wp7015607.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: -1;
}
.heading {
    color: rgb(255, 255, 0);
    text-align: center;
}
.q-container {
    /* background-color: rgb(127, 161, 248); */
    width: 100%;
}
.heading2{
    color: rgb(255, 234, 0);
    margin: 0px 40px;
    text-align: center;
    font-weight: bold;
}
.ans{
    color: rgb(43, 255, 0);
    margin: 0px 40px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0px;
    margin-top: 10px;
    /* border: 1px solid rgba(0,0,0,0.5); */
    
}
.q1 {
    margin: 20px 50px;
    text-align: center;
    padding: 8px;
    color: rgb(1, 0, 0);
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
}
.q2 {
    font-size: 23px;

    font-weight: bold;
    margin: 20px 50px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* font-size: large; */
    margin-bottom: 10px;
    
}
.q3 {
    font-size: 23px;
    margin: 20px 50px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* font-size: large; */
    margin-bottom: 10px;
}
.q4 {
    font-size: 23px;
    margin: 20px 50px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* font-size: large; */
    margin-bottom: 10px;
}
.q5 {
    font-weight: bold;
    font-size: 23px;
    margin: 20px 50px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* font-size: large; */
    margin-bottom: 10px;
}
.q6 {
    font-size: 23px;
    margin: 20px 50px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* font-size: large; */
    margin-bottom: 10px;
}
.q7 {
    font-size: 23px;
    margin: 20px 50px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* font-size: large; */
    margin-bottom: 10px;
    font-weight: bold;

}
.q8 {
    font-weight: bold;

    font-size: 23px;
    margin: 20px 50px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* font-size: large; */
    margin-bottom: 10px;
}
.q9 {
    font-weight: bold;
    font-size: 23px;
    margin: 20px 50px;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* font-size: large; */
    margin-bottom: 10px;
}
.form-check {
    padding: 5px;

}
.button {
    text-align: center;
    padding: 0%;
    margin: 0%;
}
.ip-s {
    padding: 7px 19px;
    background: black;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border: 0;
    font-size: 17px;

}
.ip-s:active,
.ip-s:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
}